<!DOCTYPE html>
<html>
<head>
    <link href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <link href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <title>Bootstrap TimePicker Example</title>
</head>
<style>
    body{
      background-color: black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .para{
        color: white;
    }
    .container {
        margin-top : 80px;
        width : 800px;
    }
    .content{
        position: relative;
    }
</style>
<body>
<div class="container">
    <div class="row">
        <p class="para">Following is an example to demonstrate the TimePicker Example using Bootstrap.</p>
        <div class ='col-sm-12 my-auto'>
          <div class="content">
            <input class="form-control" type="text" id="datetimepicker" />
          </div>
        </div>
    </div>
</div>
<script>
    $('#datetimepicker').datetimepicker({
        format: 'hh:mm'
    });
</script>
</body>
</html>
