<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
  		.title-box{
			width:100%;
			background-color:#184E77;
			color:white;
			text-align: center;
			padding:20px;
		}

		.body-box{
			width:100%;
			background-color:#dcf1ec;
			color:black;
			text-align: center;
			padding:30px;
		}
  	</style>

  </head>
  <body>
      <div>
          <div class="title-box">
              <h1>{{__ "resetYourPassword" lng=locale}}</h1>
          </div>
          <div class="body-box">
              <p>{{__ "clickLinkBelow" lng=locale}}</p>
              <a href={{link}}>{{__ "clickHereToReset" lng=locale}}</a>
          </div>
      </div>
  </body>
</html>
